


<h3 class="mt-4 text-start">Add Account</h3>
<div class="row d-flex align-items-center justify-content-center">
    <div class="col col-3">
        <span>Name</span>
        <input class="form-control"/>
    </div>

    <div class="col col-3">
        <span>Balance</span>
        <input class="form-control"/>
    </div>

    <div class="col col-3">
        <span>Type</span>
        <input class="form-control"/>
    </div>

    <div class="col col-1 pt-4">
        <span> </span>
        <button class="btn btn-success">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</div>


<h3 class="mt-4 text-start">Added Accounts</h3>
<div class="container mt-4">
    <table class="table table-bordered table-hover mt-4">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Balance</th>
            <th>Type</th>
            <th>Date Added</th>
        </thead>   
        <tbody>
            <tr>
                <td>Roth IRA</td>
                <td>$45,000</td>
                <td>Retirement</td>
                <td>1/1/2025</td>
            </tr>
            <tr>
                <td>Roth IRA</td>
                <td>$15,000</td>
                <td>Retirement</td>
                <td>1/1/2025</td>
            </tr>
            <tr>
                <td>401(k)</td>
                <td>$125,000</td>
                <td>Retirement</td>
                <td>1/1/2025</td>
            </tr>
        </tbody>
    </table>
</div>