
<div class="container mt-4">
    <h3 class="text-start">Account History</h3>
    <table class="table table-bordered table-hover mt-4">
        <thead class="thead-dark">
            <th>Date</th>
            <th>Roth IRA</th>
            <th>Savings</th>
            <th>401(k)</th>
        </thead>   
        <tbody>
            @for (hist of accountHistory; track hist) {
                <tr>
                    <td>{{hist.Date}}</td>
                    <td>{{hist.Accounts[0]}}</td>
                    <td>{{hist.Accounts[1]}}</td>
                    <td>{{hist.Accounts[2]}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>